@import "tailwindcss";

@theme {
  --bg: #1a1a1a;
  --fg: #f2f2f2;
  --body-margin-left: max(24px, env(safe-area-inset-left));
  --body-margin-right: max(24px, env(safe-area-inset-right));
  --mono5: #2e2e2e;
  --footer-height: 48px;
  --page-top: 128px;
  --page-width: 1072px;
  --content-width: 640px;
  --text-color: #e5e5e5;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--mono5) transparent;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    padding-left: var(--body-margin-left);
    padding-right: var(--body-margin-right);
    padding-bottom: env(safe-area-inset-bottom);
    min-height: 100%;
}

main {
    min-height: calc(100vh - var(--footer-height));
    position: relative;
    padding: var(--page-top) 0;
    margin: 0 auto;
    max-width: var(--page-width);
    animation-name: fadeInUp;
    animation-duration: 0.6s; /* How long the animation runs */
    animation-timing-function: ease-out; /* The speed curve */
    animation-fill-mode: backwards; /* Applies 'from' style */
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(80px); /* Starts 20px down */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Ends at its original position */
    }
}