---
import "../styles/global.css";
---

<main>
	<div class="max-lg:grid-cols-[auto_var(--content-width)_auto] max-lg:gap-x-4">
		<article class="relative w-full max-w-[var(--content-width)] text-[var(--text-color)]">
			<h1 class="mb-7">Matheus Martins</h1>
			<p>Crafting interfaces. Building polished software and web experiences. Experimenting with magical details in user interfaces. UI Engineer at VTEX.</p>
		</article>
	</div>
</main>
